
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/

*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

/Packages/
/PackageCache/

*.psd
*.tga
*.tif
*.jpg
*.png
*.mp3
*.wav
*.mp4
*.avi
*.mov
